*.gb
*.gbk
*.sav
*.map
*.sym
*.o
*.d
*.1bpp
*.2bpp
*.icon
-/file/binary.gbk
-/file/biorhythm.gbk
-/file/blackjack.gbk
-/file/cannon-ball.gbk
-/file/char-view.gbk
-/file/drive.gbk
-/file/icon-edit.gbk
-/file/kiss-mon.gbk
-/file/magnets-data.gbk
-/file/magnets.gbk
-/file/mogutte-nanbo.gbk
-/file/num0-data.gbk
-/file/poker.gbk
-/file/puzzle-game.gbk
-/file/roulette.gbk
-/file/samegame.gbk
-/file/slot.gbk
-/file/sram-get-and-clear.gbk
-/file/watch-and-timer.gbk
