*.gb
*.gbf
*.sav
*.map
*.sym
*.o
*.d
*.1bpp
*.2bpp
*.icon
!/file/binary.gbf
!/file/biorhythm.gbf
!/file/blackjack.gbf
!/file/cannon-ball.gbf
!/file/char-view.gbf
!/file/drive.gbf
!/file/icon-edit.gbf
!/file/kiss-mon.gbf
!/file/magnets-data.gbf
!/file/magnets.gbf
!/file/mogutte-nanbo.gbf
!/file/num0-data.gbf
!/file/poker.gbf
!/file/puzzle-game.gbf
!/file/roulette.gbf
!/file/slot.gbf
!/file/sram-get-and-clear.gbf
