*.gb
*.sav
*.map
*.sym
*.o
*.d
*.1bpp
*.2bpp
*.icon
/file/delete-all.gbk
/file/icon-send.gbk
/file/koura-1.gbk
/file/koura-2.gbk
/file/koura-3.gbk
/file/sezaki.gbk
/file/simula1.gbk
/file/shot.gbk
/file/worm.gbk
